table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: black;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}

th {
  background-color: black;
  font-weight: bold;
}


tr:hover {
  background-color: gray;
}